<div class="movie-card">
  <div class="poster"

  >

  <img
  [src]="'https://image.tmdb.org/t/p/original'+movie.poster_path "
  [srcset]="
  'https://image.tmdb.org/t/p/w92'+movie.poster_path +' 1x,'+
  'https://image.tmdb.org/t/p/w154'+movie.poster_path +' 2x,'+
  'https://image.tmdb.org/t/p/w500'+movie.poster_path +' 3x,'+
  'https://image.tmdb.org/t/p/original'+movie.poster_path +' 4x'"
  loading="lazy"
  >
  </div>

  <div class="details">

    <div class="title">{{movie.title}}</div>
    <div class="detail">Popularity : {{movie.popularity}}</div>
    <div class="detail">Vote count : {{movie.vote_count}}</div>
  </div>
  <div class="footer">
    <div>{{movie.release_date}}</div>
    <div>&#x2605; {{movie.vote_average}}</div>
  </div>
</div>
